html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'iconicfill', sans-serif;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ffc7ae), color-stop(#ffd2a5), color-stop(#ffdf9e), color-stop(#ffee9a), to(#f1ff9d));
  background-image: -webkit-linear-gradient(left bottom, #ffc7ae, #ffd2a5, #ffdf9e, #ffee9a, #f1ff9d);
  background-image: -o-linear-gradient(left bottom, #ffc7ae, #ffd2a5, #ffdf9e, #ffee9a, #f1ff9d);
  background-image: linear-gradient(to right top, #ffc7ae, #ffd2a5, #ffdf9e, #ffee9a, #f1ff9d); }

.banner {
  margin-top: 1em;
  font-size: .8em;
  z-index: 1;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: #008b8b;
  left: 66.66666%;
  margin-left: -150px;
  margin-bottom: .5em;
  position: relative; }
  .banner:before {
    z-index: -1;
    content: "";
    display: block;
    top: 5px;
    position: absolute;
    border-top: 10px solid #007172;
    border-bottom: 20px solid #007172;
    right: 100%;
    margin-right: 0;
    border-right: 10px solid #007172;
    border-left: 5px solid transparent; }
  .banner:after {
    z-index: -1;
    content: "";
    display: block;
    top: 5px;
    position: absolute;
    border-top: 10px solid #007172;
    border-bottom: 20px solid #007172;
    left: 100%;
    margin-left: 0;
    border-left: 10px solid #007172;
    border-right: 5px solid transparent; }

.frame {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  border-radius: .7em;
  text-align: center; }

.prizeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%; }

.outercong {
  width: 20em;
  height: 21em; }

.yourscore {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold; }

.scoretext {
  text-align: center;
  font-size: 4.5em;
  font-weight: bold;
  color: black; }

.congrats {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: .5em;
  color: darkslategrey; }

.highscore {
  font-size: 1.1em;
  text-align: center; }

.animate {
  -o-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transition: all 0.1s; }

.buttonss {
  position: relative;
  bottom: -2.5em;
  left: 2em; }

.action-button {
  text-decoration: none;
  position: relative;
  padding: .4em 1.5em;
  margin: 0 2em 1.2em 0;
  float: left;
  border-radius: 6px;
  font-size: 1em;
  color: #FFF; }
  .action-button:hover {
    text-decoration: none;
    color: #FFF; }
  .action-button:active {
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid; }

.blue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9; }

.green {
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644; }

.outer {
  font-size: 180%;
  color: white; }

.smallerText {
  font-size: 180% !important; }
